<!DOCTYPE html>
<html>
<head>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">


</head>
<body ng-app="myApp" ng-controller="myCtrl">

<h2>Contact Tree</h2>
<div>
    <ul ng-repeat="v in contacts"><span ng-click="show1=!show1; itemFocused(v)"
                                        ng-class="{selected: v.id===focused.id}"> {{v.name}}</span>
        <li ng-repeat="j in v.contacts" ng-if="show1"><span ng-click="show2=!show2; itemFocused(j)"
                                                            ng-class="{selected: j.id===focused.id}">{{j.name}}</span>
            <ul ng-if="show2">
                <li ng-repeat="k in j.contacts"><span ng-click="itemFocused(k);show3=!show3"
                                                      ng-class="{selected: k.id===focused.id}">{{k.name}}</span>
                    <ul ng-if="show3">
                        <li ng-repeat="l in k.contacts"><span ng-click="itemFocused(l)"
                                                              ng-class="{selected: l.id===focused.id}">{{l.name}}</span>

                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>

